@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-color:#7ed957;
    --body-font: "Poppins", sans-serif;
    --black-color: #000;
    --white-color: #ffffff;
    --nav-text-color: #343c55;
}
body{
    font-family: var(--body-font);
}
a{
    text-decoration: none;
    color: inherit;
}
ul, li{
    list-style: none;
}
img {
    width: 100%;
}
.my-50{
    margin: 50px 0;
}
.my-100{
    margin: 100px 0;
}
.bg-primary {
    --bs-bg-opacity: 1;
    background-color: var(--primary-color) !important;
}
/* header */
img.logo-image {
    width: 100px;
}
div#hpNavheader ul li a {
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    color: var(--nav-text-color);
    position: relative;
    transition: 0.3s;
    line-height: 34px;
}
div#hpNavheader ul li {
    position: relative;
    margin-right: 10px;
}
div#hpNavheader ul li:hover a, div#hpNavheader ul li a.active {
    color: var(--primary-color);
}
button.get-start-btn {
    border: none;
    background: transparent;
    display: flex;
    padding: 0;
}
button.get-start-btn a.nav-link.get-start {
    background: linear-gradient(45deg, var(--primary-color), #2f9c00);
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
    color: var(--white-color);
    font-weight: 500;
}
/* slider */
div#header {
    z-index: 3;
    position: relative;
}
.swiper-container {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: -125px;
    overflow: hidden;
  }
  .swiper-container .slider {
    min-height: 50vh;
  }
  .swiper-container .slider .swiper-slide {
    /* background: var(--white-color); */
    overflow: hidden;
    position: relative;
    height: 100%;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-container .slider .swiper-slide .slide-inner {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
  }
  .swiper-container .swiper-pagination-bullet {
    background-color:  var(--black-color);
  }
  .swiper-container .swiper-pagination {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 7em; */
    position: absolute;
    z-index: 3;
    right: 0;
  }
  .swiper-container .swiper-pagination span {
    margin-bottom: 3em;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.07em;
    color:  var(--black-color);
  }
  .swiper-container .swiper-pagination span:focus {
    outline: none;
  }
  .sliderone-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.sliderone-content .slider-content {
    padding: 0 15px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    width: 70%;
}
.sliderone-slingle {
    height: 960px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.animation-style-01 .swiper-slide-active .slider-content .subtitle {
    animation-name: fadeInUp;
    animation-delay: 0.01s;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}
.sliderone-content .slider-content .subtitle {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--black-color);
    margin-bottom: 5px;
}
.sliderone-content .slider-content .title {
    font-size: 72px;
    font-weight: 700;
    color: var(--black-color);
    text-align: left;
}
.sliderone-content .btn-style-two {
    margin-top: 40px;
    display: inline-flex;
}
a.btn-style-banner {
    background: var(--black-color);
    border: 0px;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    color: var(--white-color);
    padding: 15px 60px;
    line-height: 1;
    position: relative;
    font-weight: 500;
    margin-bottom: 15px;
}
button.get-start-btn:hover a.nav-link.get-start {
    background: var(--black-color);
    color: var(--primary-color);
    transition: 0.5s;
}
.sliderone-content .slider-image-one {
    margin-left: -300px;
}
.bg-1_1 {
    background-image: url(../images/bg1.png) !important;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50%;
}
a.btn-style-banner:hover{
    background-color: var(--primary-color);
    box-shadow: 2px 2px 10px rgba(87, 87, 87, 0.198);
    color: var(--black-color);
}
ul.sliderone-social {
    position: absolute;
    z-index: 14;
    top: 40%;
    left: 3%;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
}
ul.sliderone-social li a {
    font-size: 24px;
    color: var(--black-color);
}
.shape{
    position: absolute;
    opacity: 0.3;   
}
.shape-1.shape {
    top: 13%;
    left: 6%;
    z-index: 1;
    animation: animshape1 5s infinite linear;
    
}
.shape-2.shape {
    top: 22%;
    left: 27%;
    z-index: 1;
    -webkit-animation: 3s infinite linear;
    animation: moveupdown1 3s infinite linear;   
}
.shape-3.shape {
    top: 33%;
    left: 18%;
    z-index: 1;
    -webkit-animation: circle1 2.2s infinite alternate;
    animation: circle1 2.2s infinite alternate;
}
.subtitle {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-color);
    margin: 10px;
    letter-spacing: 3px;
}
.title {
    font-size: 72px;
    font-weight: 700;
}
.image-icon svg {
    width: 68px;
    height: 68px;
}
.card-design-hp {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 15px;
    box-shadow: 2px 2px 10px #8080802b, -2px -2px 10px #8080802b;
    border-radius: 10px;
}
ul.content-list-hp li {
    display: flex;
    align-items: center;
}
ul.content-list-hp span {
    padding-left: 15px;
    font-weight: 500;
    line-height: 30px;
}
.image-icon img {
    width: 60px;
}
img.bg-shape-8-home {
    position: absolute;
    width: 15%;
    opacity: 0.2;
    top: 0;
    animation: zoom1 4s infinite linear;
}
img.bg-shape-4-home {
    width: 2%;
    opacity: 0.5;
    top: 0;
    position: absolute;
    animation: circle2 2.2s infinite linear;
}
img.bg-shape-9-home {
    position: absolute;
    width: 10%;
    top: 0;
    right: 120px;
    opacity: 0.2;
    transform: rotate(275deg);
    animation: moveupdown1 3s infinite linear;
}
img.bg-shape-10-home {
    width: 3%;
    position: absolute;
    right: 3%;
    animation: circle1 2.2s infinite alternate;
}
img.bg-shape-9-b-home {
    position: absolute;
    width: 6%;
    opacity: 0.2;
    top: 0;
    right: 6%;
    transform: rotate(283deg);
    animation: moveupdown1 3s infinite linear;
}
.text-what-we-do-logo {
    font-size: 260px;
    font-weight: 700;
    line-height: 1;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--primary-color);
    -webkit-text-fill-color: transparent;
    opacity: 0.28;
    top: 65%;
    position: absolute;
    z-index: 9;
    transform: rotate(270deg);
    left: -280px;
}
.quote-sec {
    margin: 10px 0 25px;
    padding: 20px;
    background: white;
    border-left: 4px solid var(--primary-color);
}
section#intro-adliv {
    background: url(../images/bg2.png);
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.quote-sec img {
    position: absolute;
    width: 10%;
    top: 10%;
    left: 2%;
    opacity: 0.5;
    z-index: 0;
}
.quote-sec p {
   z-index: 1;
}
.counter-1, .counter-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
    background: var(--primary-color);
    border-radius: 10px;
    margin: 10px;
}
.count {
    font-weight: 700;
    font-size: 42px;
}
.image-with.number {
    position: absolute;
    top: -10%;
    right: 4%;
}
.counter-sec {
    margin-bottom: 50px;
    max-width: 480px;
    float: inline-end;
}
.about-image-inner-thumb {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 40px 25px;
    border-radius: 10px;
    position: absolute;
    bottom: 70px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-image-inner-thumb span {
    font-weight: 700;
    font-size: 30px;
}
.logo-with-contact-detail img {
    width: 100px;
    margin: 20px 0;
}
.logo-with-contact-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 0;
}
p.about-adlive-footer, .social-icons-adliv-footer {
    width: 270px;
}
.contact-detail-footer {
    display: flex;
    flex-direction: column;
    width: 270px;
    margin: 15px 0;
}
a.contact-det-ft i {
    font-size: 18px;
}
.contact-det-ft span {
    margin-left: 15px;
}
a.contact-det-ft {
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;
  
}
a.contact-det-ft:hover {
 color: var(--white-color);
 transition: 0.5s
}
.logo-with-contact-detail:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 30%;
    background: var(--primary-color);
    z-index: -1;
    left: 0;
    top: 0;
}
.social-icons-adliv-footer a:hover {
    color: white;
}
.social-icons-adliv-footer a {
    font-size: 24px;
    margin-right: 15px;
}
copiright {
    width: 270px;
    margin: 60px 0 0;
}
.top-right-footer {
    background: #bee9ac;
    padding: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.top-right-footer:after {
    content: "";
    background: #bee9ac;
    width: 66.66666667%;
    top: 50px;
    right: 0;
    position: absolute;
    z-index: -1;
    height: 45%;
}
.contact-us-sec-footer p {
    max-width: 540px;
}
.bottom-right-footer {
    background: #e2ffd6;
    padding: 20px 50px;
    margin-top: 20px;
}
ul.ftr-menu-sub {
    padding: 0;
}
.bottom-right-footer:after {
    content: "";
    background: #e2ffd6;
    width: 66.6666666%;
    position: absolute;
    height: 50%;
    bottom: 0;
    right: 0;
    z-index: -2;
}
ul.ftr-menu-sub li {
    line-height: 34px;
}
h5.ftr-menu-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
h5.ftr-menu-heading:after {
    content: "";
    width: 50%;
    height: 5px;
    background: black;
    border-radius: 10px;
}
form.subscription-form {
    display: flex;
    align-items: center;
    background: white;
    padding: 5px 0;
    border-radius: 5px;
}
form.subscription-form input.form-control {
    background: transparent;
    border: none;
}
.submit-btn-hp {
    background: transparent;
    border: none;
}
.submit-btn-hp i {
    color: var(--primary-color);
    font-size: 22px;
}
.bottom-ftr-privacy-sec {
    display: flex;
    justify-content: flex-end;
}
.bottom-ftr-privacy-sec a {
    margin-left: 30px;
    margin-top: 10px;
}
.bottom-ftr-privacy-sec a:hover {
    color: var(--primary-color);
}